@charset "UTF-8";

@font-face {
    font-family: 'ulsanjunggu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{/* 기본값 제거 */
	margin: 0px; padding: 0px; text-decoration: none;/*밑줄 제거*/
	list-style-type: none;/*글머리 제거*/ color: black;
	font-family: 'GangwonEdu_OTFBoldA';
}

.b_box{
	width : 1200px;	/*가로길이*/
	margin: 0 auto;	/*박스 가운데 정렬*/
	height: 800px;
	
}
.hd_box{
	width : 1200px;	/*가로길이*/
	margin: 0 auto;	/*박스 가운데 정렬*/
}
/*-------------------- 상단 헤더------------------------------*/

.hd{
	display: flex; /*자식 요소들이 가로배치됨*/
	justify-content: space-between;
	margin: 30px 0px 20px 0px ;
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
}

.menu{
	display : flex;
	font-size: 15px;
	margin-top: 10px;
}

.menu li{margin-left: 20px; font-size: 20px;}
.logo{margin-left: 60px;}
.logo a{
	font-size: 40px;
}
#password1,
#password2,
#password3,
#password4
{width: 20px;}


/*---------------------------- 푸터 -------------------------------*/
footer{ 
	width: 100%; height : 185px; background-color: rgba(13, 76, 146,0.3);
	
}
.ft_box{width : 1200px; margin : 0 auto; display : flex; justify-content: space-between;}

.ft_leftbox{
	margin-top: 45px;
   margin-right: 30px;
}
.ft_leftbox li{display: block;}
.ft_center{ 
	font-size : 12px; color : #f7ab79;
	margin-top: 60px;
}
.ft_center span{padding-right: 15px;}
.ft_center div{margin-top: 10px;}
.ft_right{
	font-size: 45px;
	margin-top: 40px;
	
	
}
.ft_right i{
	padding-right: 10px; color: #0D4C92;
}